@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.btn-learn {
  display: block;
  font-family: inherit;
  font-weight: 500;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  background-color: #f1a501;
  color: #fff;
  padding: 0.8rem 2rem;
  border-radius: 100px;
  margin-top: 2rem;
}
