.services {
  padding: 2rem 6rem;
  margin-bottom: 3rem;
}

.title,
.subTitle {
  text-align: center;
}
.title {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 0.8rem;
}
.subTitle {
  color: #5a5a5a;
  margin: 0.5rem 0 3rem;
  line-height: 1.4;
}

.iconBox {
  height: 120px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 1rem;
}

.serviceDetails {
  color: #5a5a5a;
  line-height: 1.6;
}

/* -------------------------------------------------------------------------- */
/*                              SHORT MEDIA QUERY                             */
/* -------------------------------------------------------------------------- */
@media (max-width: 668px) {
  .services {
    padding: 2rem;
    margin: 0;
  }

  .title {
    font-size: 1.8rem;
    margin-bottom: 0.8rem;
  }
  .subTitle {
    color: #5a5a5a;
    margin: 1rem 0 3rem;
  }
  .service {
    text-align: center;
  }
  .iconBox {
    margin: 0 auto;
  }
}
